In [84]:
##### Pyber Challenge. Module 5.

### Challenge Questions
## ? Is there a correlation between average fare and the total rides for city types?
    # Plot a regression line for the individual scatter plots
## ? Is there any statistical significance between different city types
    # for each box and whisker plot?   
    
### Challenge Objectives:
##  Use Pandas DF functions: groupby(), pivot(), resample(), reset_index()
##  Use Pandas methods and attributes on a DataFrame or Series
##  Create a new DF from multiple groupby() Series
##  Format columns of a DataFrame.
##  Create a multiple-line graph.
##  Annotate and apply styling to the chart

### Code Outline

## Create a PyBer Summary Dataframe
# Prep environment and dependicies
# Get and read CSV data into DFs
# Inspect Data.  NULLS and proper Datatypes
# Merge into single DF
# Create DFs by City types - three categories
# Summarize Total Rides Per City Type
# Summarize Total Drivers Per City Type
# Summarize Total Fares Per City Type
# Calculate Average Fare per Ride
# Summarize Total Rides Per City Type
# Create Summmary DataFrame

In [85]:
##Start with the magic inline command
%matplotlib inline

In [86]:
# Dependencies
import matplotlib as mpl  # calls the greater matplotlib library
import matplotlib.pyplot as plt  # matplotlib pyplot graphics library
import pandas as pd # the pandas
import numpy as np # NumPy
import scipy.stats as sts # SciPy
import matplotlib as mpl  # call the matplotlib library

In [87]:
# Load the files
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [88]:
# Load the city data into a Dataframe
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(5)

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [89]:
# Load the ride data into a Dataframe
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.tail(5)

                 city                 date   fare        ride_id
2370      Michaelberg  2019-04-29 17:04:39  13.38  8550365057598
2371  Lake Latoyabury  2019-01-30 00:05:47  20.76  9018727594352
2372      North Jaime  2019-02-10 21:03:50  11.11  2781339863778
2373     West Heather  2019-05-07 19:22:15  44.94  4256853490277
2374       Newtonview  2019-04-25 10:20:13  55.84  9990581345298

In [90]:
### Data Inspection
## Check rows and columns for null values
## Ensure correct data types; ie. driver_count
## List data points for each type of city

In [91]:
## City Check for Null Values
#City Data
city_data_df.count() # returns 120 values in three fields
#city_data_df.isnull().sum() # sums null values per field.  
##No Nulls found in City Data.

city            120
driver_count    120
type            120
dtype: int64

In [92]:
## Ensure correct data type for driver_count so we can do calculations on field
#city_data_df.dtypes # driver count in int64. so we are good for calcs.
#ride_data_df.dtypes # ride data looks correct. Date treated as object\string

In [93]:
## List data points for each type of city
city_types = city_data_df["type"].unique() # uses unique() method on specific column
city_types=np.sort(city_data)
city_types

array(['Rural', 'Suburban', 'Urban'], dtype=object)

In [94]:
## City Types : count of types
#sum(city_data_df["type"]=="Urban")
#sum(city_data_df["type"]=="Suburban")
#sum(city_data_df["type"]=="Rural")
## 66 Urban 36 Suburban  leaving 18 for Rural - math baby

In [95]:
## Inspect Ride Data Dataframe
#ride_data_df.dtypes # inspect the datatypes 

## Check Ride Data for Nulls

#ride_data_df.count() # returns 2375 values in four fields
#ride_data_df.isnull().sum() # sums null values per field.  

## No Nulls found in Ride Data.

## Inspect fare and ride_id fields for numerical
# ride_data_df.dtypes
# ride data looks correct. fare is float 64 and ride_id is int. Will work!

In [96]:
### Merge the DataFrame
# new_df = pd.merge(leftdf, rightdf, on=["column_leftdf", "column_rightdf"])

# In our case we join on city. 
# It is a left join since we want all ride data plus matching city data

pyber_data_df=pd.merge(ride_data_df, city_data_df, how="left", on=["city","city"])
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [97]:
### Create DataFrames for each city type.
##  Create Urban cities DF
urban_cities_df=pyber_data_df[pyber_data_df["type"]=="Urban"]
urban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [98]:
## Create subarban DFs
suburban_cities_df=pyber_data_df[pyber_data_df["type"]=="Suburban"]
suburban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
1625,Barronchester,2019-01-27 03:08:01,27.79,6653622887913,11,Suburban
1626,East Kentstad,2019-04-07 19:44:19,18.75,6575961095852,20,Suburban
1627,Lake Omar,2019-01-17 21:33:35,21.71,966911700371,22,Suburban
1628,Myersshire,2019-02-27 17:38:39,17.10,5706770909868,19,Suburban
1629,West Hannah,2019-04-19 01:06:59,37.78,2273047151891,12,Suburban

In [99]:
## Create rural DFs
rural_cities_df=pyber_data_df[pyber_data_df["type"]=="Rural"]
rural_cities_df.head()

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,51.80,4018025271936,2,Rural

In [100]:
### Total Rides: Rides Per City
## Urban Rides Per City
urban_ride_count = urban_cities_df.groupby(["city"]).count()["ride_id"]
#urban_ride_count.head()
urban_ride_count = urban_ride_count.sum()
urban_ride_count

1625

In [101]:
## Suburban Rides Per City
suburban_ride_count = suburban_cities_df.groupby(["city"]).count()["ride_id"]
#suburban_ride_count.head()
suburban_ride_count=suburban_ride_count.sum()
suburban_ride_count

625

In [102]:
## Rural Rides Per City
rural_ride_count = rural_cities_df.groupby(["city"]).count()["ride_id"]
#rural_ride_count.head()
rural_ride_count=rural_ride_count.sum()
rural_ride_count

125

In [103]:
### Total Drivers: Actually calculated as Average Drivers Per City 
    # Conflict between instructions and proviced picture of what final summary DataFrame should look like.
    # The DataFrame pictures is asking for Avergage Drivers per City in the Total Drives field. 
## Urban Drivers Per City
urban_driver_count = urban_cities_df.groupby(["city"]).mean()["driver_count"]
urban_driver_count=urban_driver_count.sum()
urban_driver_count

2405.0

In [104]:
## Suburban Drivers Per City
suburban_driver_count = suburban_cities_df.groupby(["city"]).mean()["driver_count"]
suburban_driver_count = suburban_driver_count.sum()
suburban_driver_count

490.0

In [105]:
## Rural Drivers per City
rural_driver_count = rural_cities_df.groupby(["city"]).mean()["driver_count"]
rural_driver_count=rural_driver_count.sum()
rural_driver_count

78.0

In [106]:
### Total Fares Per City

In [107]:
## Urban Tatal Fares
urban_tot_fare = urban_cities_df.groupby(["city"]).sum()["fare"]
urban_tot_fare=urban_tot_fare.sum()
urban_tot_fare

39854.38000000001

In [108]:
## Suburban Tatal Fares
suburban_tot_fare = suburban_cities_df.groupby(["city"]).sum()["fare"]
suburban_tot_fare=suburban_tot_fare.sum()
suburban_tot_fare

19356.33

In [109]:
## Rural Tatal Fares
rural_tot_fare = rural_cities_df.groupby(["city"]).sum()["fare"]
rural_tot_fare=rural_tot_fare.sum()
rural_tot_fare

4327.93

In [110]:
### Average Fare per Ride Calculation
## Urban Average Fare per Ride
urban_avg_fare_per_ride = urban_tot_fare / urban_ride_count #* 100
urban_avg_fare_per_ride

24.525772307692314

In [111]:
# Suburban Average Fare per Ride
suburban_avg_fare_per_ride = suburban_tot_fare / suburban_ride_count #* 100
suburban_avg_fare_per_ride

30.970128000000003

In [112]:
# Rural Average Fare per Ride
rural_avg_fare_per_ride = rural_tot_fare / rural_ride_count #* 100
rural_avg_fare_per_ride

34.62344

In [113]:
### Average Fare per Driver
## Urban Average Fare per Driver
urban_avg_fare_per_driver = urban_tot_fare/ urban_driver_count#* 100
urban_avg_fare_per_driver

16.57146777546778

In [114]:
## Suburban Average Fare per Driver
suburban_avg_fare_per_driver = suburban_tot_fare/ suburban_driver_count #* 100
suburban_avg_fare_per_driver

39.50271428571429

In [115]:
## rural Average Fare per Driver
rural_avg_fare_per_driver = rural_tot_fare/ rural_driver_count #* 100
rural_avg_fare_per_driver

55.48628205128205

In [116]:
## quick data review
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [117]:
# check the data types
pyber_data_df.dtypes

city             object
date             object
fare            float64
ride_id           int64
driver_count      int64
type             object
dtype: object

In [118]:
### Create Summmary DataFrame 
### This first attempt to create  the dataframe does work
### but formatting becomes impossible because everything 
### gets treated as string.

### May Have to find another way to create the DF

#  pyber_summary_data = [{"Type": "Rural", "Total Rides": rural_ride_count, "Total Drivers":rural_driver_count,"Total Fares": rural_tot_fare, "Average Fare per Ride":rural_avg_fare_per_ride,"Average Fare per Driver":rural_avg_fare_per_driver},
#       {"Type":"Suburban","Total Rides":suburban_ride_count, "Total Drivers":suburban_driver_count, "Total Fares":suburban_tot_fare, "Average Fare per Ride":suburban_avg_fare_per_ride,"Average Fare per Driver":suburban_avg_fare_per_driver},
#       {"Type":"Urban", "Total Rides":urban_ride_count, "Total Drivers":urban_driver_count, "Total Fares":urban_tot_fare, "Average Fare per Ride": urban_avg_fare_per_ride, "Average Fare per Driver":urban_avg_fare_per_driver}]
#  pyber_summary_df=pd.DataFrame(pyber_summary_data) 
#  pyber_summary_df

In [119]:
### Trying a different way to create the dataframe
 ##  Combine the five series into a single dataframe

In [120]:
#### Method 2 of creating DF

In [121]:
## First series for DF  is Total Rides
# total_rides_by_type = pd.DataFrame({
#      "Rural": rural_ride_count,
#      "Suburban": suburban_ride_count,
#      "Urban": urban_ride_count})
# total_rides_by_type
## create a series not a DF
total_rides_by_type = (rural_ride_count, suburban_ride_count,urban_ride_count)
total_rides_by_type

(125, 625, 1625)

In [122]:
## Second series for DF is Total Drivers

# total_drivers_by_type = pd.DataFrame({
#      "Rural": rural_driver_count,
#      "Suburban": suburban_driver_count,
#      "Urban": urban_driver_count})
# total_drivers_by_type

## create a series not a DF
total_drivers_by_type =(rural_driver_count, suburban_driver_count, urban_driver_count)
total_drivers_by_type

(78.0, 490.0, 2405.0)

In [123]:
## Third series for DF is Total Fares
# total_fares = pd.DataFrame({
#      "Rural": rural_tot_fare,
#      "Suburban": suburban_tot_fare,
#      "Urban": urban_tot_fare})
# total_fares

## create a series not a DF
total_fares =(rural_tot_fare, suburban_tot_fare, urban_tot_fare)
total_fares

(4327.93, 19356.33, 39854.38000000001)

In [124]:
## Fourth series Average Fare Per Ride
# avg_fare_per_ride = pd.DataFrame({
#      "Rural": rural_avg_fare_per_ride,
#      "Suburban": suburban_avg_fare_per_ride,
#      "Urban": urban_avg_fare_per_ride},index=[0])
# avg_fare_per_ride

## create a series not a DF
avg_fare_per_ride = (rural_avg_fare_per_ride, suburban_avg_fare_per_ride, urban_avg_fare_per_ride)
avg_fare_per_ride

(34.62344, 30.970128000000003, 24.525772307692314)

In [125]:
## Fith series Average Fare Per Driver
# avg_fare_per_driver = pd.DataFrame({
#      "Rural": rural_avg_fare_per_driver,
#      "Suburban": suburban_avg_fare_per_driver,
#      "Urban": urban_avg_fare_per_driver},index=[4])
# avg_fare_per_driver

## create a series not a DF
avg_fare_per_driver = (rural_avg_fare_per_driver, suburban_avg_fare_per_driver, urban_avg_fare_per_driver)
avg_fare_per_driver

(55.48628205128205, 39.50271428571429, 16.57146777546778)

In [126]:
#  pyber_summary_data = [
#       {"Type": "Rural", "Total Rides": rural_ride_count, "Total Drivers":rural_driver_count,"Total Fares": rural_tot_fare, "Average Fare per Ride":rural_avg_fare_per_ride,"Average Fare per Driver":rural_avg_fare_per_driver},
#       {"Type":"Suburban","Total Rides":suburban_ride_count, "Total Drivers":suburban_driver_count, "Total Fares":suburban_tot_fare, "Average Fare per Ride":suburban_avg_fare_per_ride,"Average Fare per Driver":suburban_avg_fare_per_driver},
#       {"Type":"Urban", "Total Rides":urban_ride_count, "Total Drivers":urban_driver_count, "Total Fares":urban_tot_fare, "Average Fare per Ride": urban_avg_fare_per_ride, "Average Fare per Driver":urban_avg_fare_per_driver}]
#   pyber_summary_df=pd.DataFrame(pyber_summary_data) 
#   pyber_summary_df

In [184]:
 ## Now the summary data frame? Really

pyber_summary_data_df=pd.DataFrame({
    "City Types" : city_types,
    "Total Rides" : total_rides_by_type,
    "Total Drivers":total_drivers_by_type,
    "Total Fares": total_fares,
    "Average Fare per Ride":avg_fare_per_ride,
    "Average Fare per Driver": avg_fare_per_driver})
 pyber_summary_data_df

,City Types,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
0,Rural,125,78.0,4327.93,34.623440,55.486282
1,Suburban,625,490.0,19356.33,30.970128,39.502714
2,Urban,1625,2405.0,39854.38,24.525772,16.571468

In [185]:
## Change the index to City Types
pyber_summary_data_df.set_index("City Types", inplace = True)
pyber_summary_data_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
City Types,,,,,
Rural,125,78.0,4327.93,34.623440,55.486282
Suburban,625,490.0,19356.33,30.970128,39.502714
Urban,1625,2405.0,39854.38,24.525772,16.571468

In [186]:
## now the formatting

#total_drivers_by_type= 
#total_drivers_by_type.map("{:.0f}".format)
pyber_summary_data_df["Total Drivers"]= pyber_summary_data_df["Total Drivers"].map("{:.0f}".format)
pyber_summary_data_df["Total Fares"]= pyber_summary_data_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_data_df["Average Fare per Ride"]= pyber_summary_data_df["Average Fare per Ride"].map("${:,.2f}".format)
pyber_summary_data_df["Average Fare per Driver"]= pyber_summary_data_df["Average Fare per Driver"].map("${:,.2f}".format)
pyber_summary_data_df.index.name = None
pyber_summary_data_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,1625,2405,"$39,854.38",$24.53,$16.57

In [ ]:
#### Ok.  We have completed Part 1. Wow that was a doozy,.

In [ ]:
#### Now Part II Create a Muliple-Line Plot for the
##   Sum of the Fares for Each City Type

In [ ]:
### Now we can create our Bubble Chart!
#  x_axis is number of rides per city
#  y_axis is average fare for each city
#  marker size = average number of drivers per city

In [ ]:
## Start with Urbanio
plt.scatter(urban_ride_count, urban_avg_fare # sets urban_ride_count, urban_avg_fare as x and y
            , s=10*urban_driver_count # sets size to 10x average driver count
            , c="coral" # color to coral
            , edgecolors ="black" # bubble edges to black
            , linewidths = 1 # bubble edges to thin line width of 1
            , alpha=0.8  # transparency to 80%
            , label="Urban" # legend label to Urban
            )
plt.title("PyBer Ride-Sharing Data (2019)")
plt.ylabel("Average Fare ($)")
plt.xlabel("Total Number of Riders")
plt.grid(True)
plt.legend()

In [ ]:
## Now suburban
plt.scatter(suburban_ride_count, suburban_avg_fare # sets suburban_ride_count, suburban_avg_fare as x and y
            , s=10*suburban_driver_count # sets size to 10x average driver count
            , c="skyblue" # color to coral
            , edgecolors ="black" # bubble edges to black
            , linewidths = 1 # bubble edges to thin line width of 1
            , alpha=0.8  # transparency to 80%
            , label="suburban" # legend label to suburban
            )
plt.title("PyBer Ride-Sharing Data (2019)")
plt.ylabel("Average Fare ($)")
plt.xlabel("Total Number of Riders")
plt.grid(True)
plt.legend()

In [ ]:
## Now rural
plt.scatter(rural_ride_count, rural_avg_fare # sets rural_ride_count, rural_avg_fare as x and y
            , s=10*rural_driver_count # sets size to 10x average driver count
            , c="skyblue" # color to coral
            , edgecolors ="gold" # bubble edges to black
            , linewidths = 1 # bubble edges to thin line width of 1
            , alpha=0.8  # transparency to 80%
            , label="rural" # legend label to rural
            )
plt.title("PyBer Ride-Sharing Data (2019)")
plt.ylabel("Average Fare ($)")
plt.xlabel("Total Number of Riders")
plt.grid(True)
plt.legend()

In [ ]:
## Now we combine the bubble charts!   Combine the three sets of code into one cell. Ok.
plt.subplots(figsize=(10,6))  # sets a nice rectangular shape and size
# Start with Urban
plt.scatter(urban_ride_count, urban_avg_fare # sets urban_ride_count, urban_avg_fare as x and y
            , s=10*urban_driver_count # sets size to 10x average driver count
            , c="coral" # color to coral
            , edgecolors ="black" # bubble edges to black
            , linewidths = 1 # bubble edges to thin line width of 1
            , alpha=0.8  # transparency to 80%
            , label="Urban" # legend label to Urban
            )

# Now suburban
plt.scatter(suburban_ride_count, suburban_avg_fare # sets suburban_ride_count, suburban_avg_fare as x and y
            , s=10*suburban_driver_count # sets size to 10x average driver count
            , c="skyblue" # color to coral
            , edgecolors ="black" # bubble edges to black
            , linewidths = 1 # bubble edges to thin line width of 1
            , alpha=0.8  # transparency to 80%
            , label="Suburban" # legend label to suburban
            )

# Now rural
plt.scatter(rural_ride_count, rural_avg_fare # sets rural_ride_count, rural_avg_fare as x and y
            , s=10*rural_driver_count # sets size to 10x average driver count
            , c="skyblue" # color to coral
            , edgecolors ="gold" # bubble edges to black
            , linewidths = 1 # bubble edges to thin line width of 1
            , alpha=0.8  # transparency to 80%
            , label="Rural" # legend label to rural
            )
plt.title("PyBer Ride-Sharing Data (2019)", fontsize=20) # chart title
plt.ylabel("Average Fare ($)", fontsize=12) # y axis label with fontsize
plt.xlabel("Total Number of Rides(Per City)", fontsize=12) # x_axes label with fontsize
plt.grid(True) # show me the grid
# Legend Section
# sets lgnd as variable for plt.legend() with these four parameters.
lgnd = plt.legend(fontsize="12"
             ,mode="Expanded" # mode expands to fit area. 
             ,scatterpoints=1 # number of markers in the legend
             , loc="best"  # location of scatter plot based on available white space. nice!
             , title="City Types") # legend title
lgnd.legendHandles[0]._sizes = [75] # sets legend handle to 0.75 for first item in array
lgnd.legendHandles[1]._sizes = [75] # and so on for 2nd item.
lgnd.legendHandles[2]._sizes = [75] # and so on.
lgnd.get_title().set_fontsize(12) # legend title size
# # Add a note.  first two numbers indicate position of note in relation to plot points. wow. very sweet.
plt.text(42,35, "Note: \nCircle size correlates \nwith driver count per city.", fontsize="12")
# and save
plt.savefig("analysis/Fig1.png")
# Now Show
plt.show()

In [ ]:
### Summary Stats - Number of rides by City type
##  Pandas describe() function on a Series or DataFrame
##  Pandas mean(), median(), mode() functions on Series
##  NumPy mean() and median (). SciPy mode() on Series

In [ ]:
##  Pandas describe() function on a DataFrame
## Summary stats for cities.
#urban_cities_df.describe()
#suburban_cities_df.describe()
#rural_cities_df.describe()

In [ ]:
## Pandas describe() function on a Series
## Summary stats for Rides.
#urban_ride_count.describe()
#suburban_ride_count.describe()
rural_ride_count.describe()

In [ ]:
##  Pandas mean(), median(), mode() functions on Series
# Each Variable represents a statistic for each City Types category.

# Ride Count Mean. generates a list of values for each variable. 
#round(urban_ride_count.mean(),2), round(suburban_ride_count.mean(),2), round(rural_ride_count.mean(),2)

# Ride Count Median. 
#round(urban_ride_count.median(),2), round(suburban_ride_count.median(),2), round(rural_ride_count.median(),2)

# Ride Count Mode 
#round(urban_ride_count.mode(),2), round(suburban_ride_count.mode(),2), round(rural_ride_count.mode(),2)

# Run each one and get a visual.Each category has a mode, 
# but Urbans two modes are larger than the rural and Sub, so they represent modes for the set.
#round(urban_ride_count.mode(),2)
#round(suburban_ride_count.mode(),2)
#round(rural_ride_count.mode(),2)

In [ ]:
###  NumPy mean() and median (). SciPy mode() on Series
##  Import new dependencies.  NumPy and SciPy
import numpy as np
import scipy.stats as sts

In [ ]:
## Calcualte measures of central tendency for ride counts.
mean_urban_ride_count = np.mean(urban_ride_count)
print(f"The mean for the ride counts for urban trips is {mean_urban_ride_count:.2f}.")

median_urban_ride_count = np.median(urban_ride_count)
print(f"The median for the ride counts for urban trips is {median_urban_ride_count}.")

## using SciPy mode() function
mode_urban_ride_count = sts.mode(urban_ride_count)
print(f"The mode for the ride counts for urban trips is {mode_urban_ride_count}.")

## using SciPy mode() function
mode_suburban_ride_count = sts.mode(suburban_ride_count)
print(f"The mode for the ride counts for suburban trips is {mode_suburban_ride_count}.")

## using SciPy mode() function
mode_rural_ride_count = sts.mode(rural_ride_count)
print(f"The mode for the ride counts for rural trips is {mode_rural_ride_count}.")

In [ ]:
## Get summary statistics for average fares for city types

# Urban Fare using Numpy and SciPy
urban_fares = urban_cities_df["fare"]
urban_fares.head()

In [ ]:
# Measures of central tendency for average fare. 
# NumPy and SciPy methods of calculating summary statistics
mean_urban_fares = np.mean(urban_fares)
print(f"The mean fare price for urban trips is ${mean_urban_fares:.2f}.")

median_urban_fares = np.median(urban_fares)
print(f"The median fare price for urban trips is ${median_urban_fares:.2f}.")

mode_urban_fares = sts.mode(urban_fares)
print(f"The mode fare price for urban trips is {mode_urban_fares}.")

In [ ]:
##  Numpy Mean and Median. SciPy Mode for Suburban

suburban_fares = suburban_cities_df["fare"]

mean_suburban_fares = np.mean(suburban_fares)
print(f"The mean fare price for suburban trips is ${mean_suburban_fares:.2f}.")

median_suburban_fares = np.median(suburban_fares)
print(f"The median fare price for suburban trips is ${median_suburban_fares:.2f}.")

mode_suburban_fares = sts.mode(suburban_fares)
print(f"The mode fare price for suburban trips is {mode_suburban_fares}.")

In [ ]:
##  Numpy Mean and Median. SciPy Mode for rural

rural_fares = rural_cities_df["fare"]

mean_rural_fares = np.mean(rural_fares)
print(f"The mean fare price for rural trips is ${mean_rural_fares:.2f}.")

median_rural_fares = np.median(rural_fares)
print(f"The median fare price for rural trips is ${median_rural_fares:.2f}.")

mode_rural_fares = sts.mode(rural_fares)
print(f"The mode fare price for rural trips is {mode_rural_fares}.")

In [ ]:
### Skill Drill 5.4.3: Summary Stats for Number of drivers by City Types using NumBy and SciPy

In [ ]:
##  Urban: summary stats using Numby and SciPy

urban_drivers = urban_cities_df["driver_count"]
#urban_drivers.head()

mean_urban_drivers = np.mean(urban_drivers)
print(f"The mean driver count for urban cities is {mean_urban_drivers:.0f}.")

median_urban_drivers = np.median(urban_drivers)
print(f"The median driver count for urban cities is {median_urban_drivers:.0f}.")

mode_urban_drivers = sts.mode(urban_drivers)
print(f"The mode driver count for urban cities is {mode_urban_drivers}.")

In [ ]:
##  Suburban summary stats

suburban_drivers = suburban_cities_df["driver_count"]


mean_suburban_drivers = np.mean(suburban_drivers)
print(f"The mean driver count for suburban cities is {mean_suburban_drivers:.0f}.")

median_suburban_drivers = np.median(suburban_drivers)
print(f"The median driver count for suburban cities is {median_suburban_drivers:.0f}.")

mode_suburban_drivers = sts.mode(suburban_drivers)
print(f"The mode driver count for suburban cities is {mode_suburban_drivers}.")

In [ ]:
##  Rural summary stats

rural_drivers = rural_cities_df["driver_count"]

mean_rural_drivers = np.mean(rural_drivers)
print(f"The mean driver count for rural cities is {mean_rural_drivers:.0f}.")

median_rural_drivers = np.median(rural_drivers)
print(f"The median driver count for rural cities is {median_rural_drivers:.0f}.")

mode_rural_drivers = sts.mode(rural_drivers)
print(f"The mode driver count for rural cities is {mode_rural_drivers}.")

In [ ]:
#### Box and Whisker Plots for Ride Count Data
## requires usage of the ax.boxplot() funtion which takes an array insdie parenthesis.

## Urban Box and Whisper for urban ride count
x_labels = ["Urban"]   # labels have to be set first in ax.plot() functions
fig, ax = plt.subplots()  # declares ax function
ax.boxplot(urban_ride_count, labels=x_labels) # sets the y axis, and labels property
# Add the title, y-axis label and grid.
ax.set_title('Ride Count Data (2019)')  # Title 
ax.set_ylabel('Number of Rides') # ylabel
ax.set_yticks(np.arange(10, 41, step=2.0))  # y tick using np.arange. from 10-41 with steps of two
ax.grid()  # please give us a grid
plt.show()

In [ ]:
## Urban Summary Stats for urban ride count
urban_ride_count.describe()

In [ ]:
## Now Suburban Box and Whisper
x_labels = ["Suburban"]   # labels have to be set first in ax.plot() functions
fig, ax = plt.subplots()  # declares ax function
ax.boxplot(suburban_ride_count, labels=x_labels) # sets the y axis, and labels property
# Add the title, y-axis label and grid.
ax.set_title('Ride Count Data (2019)')  # Title 
ax.set_ylabel('Number of Rides') # ylabel
ax.set_yticks(np.arange(10, 41, step=2.0))  # y tick using np.arange. from 10-41 with steps of two
ax.grid()  # grid
plt.show()

In [ ]:
## Suburban Summary Stats for Suburban ride count
suburban_ride_count.describe()

In [ ]:
## Now Rural Box and Whisper
x_labels = ["Rural"]   # labels have to be set first in ax.plot() functions
fig, ax = plt.subplots()  # declares ax function
ax.boxplot(rural_ride_count, labels=x_labels) # sets the y axis, and labels property
# Add the title, y-axis label and grid.
ax.set_title('Ride Count Data (2019)')  # Title 
ax.set_ylabel('Number of Rides') # ylabel
ax.set_yticks(np.arange(10, 41, step=2.0))  # y tick using np.arange. from 10-41 with steps of two
ax.grid()  # grid
plt.show()

In [ ]:
## Rurual summary Stats for ride count
rural_ride_count.describe()

In [ ]:
### Now we add all cites to one box and whisper plot

x_labels = ["Urban", "Suburban","Rural"]  #always labels first as variable to be later used in the boxplot
ride_count_data = [urban_ride_count, suburban_ride_count, rural_ride_count] # create series
fig, ax = plt.subplots(figsize=(10, 6))  # declare ax method with a nice rectangular size\shape
ax.set_title('Ride Count Data (2019)',fontsize=20) # set title wiht font size
ax.set_ylabel('Number of Rides',fontsize=14) # set y label with fontsize
ax.set_xlabel("City Types",fontsize=14) # set x label with fontsize
ax.boxplot(ride_count_data, labels=x_labels)  ## specify a boxplot with labels.
ax.set_yticks(np.arange(0, 45, step=3.0))  # set y ticks using NumPy arange()
ax.grid() # grid please 

# Save the plot
plt.savefig("analysis/Fig2.png")
plt.show()  # very nice - three box and whispers side to side

In [ ]:
## ID the Outlier. which city has the highest driver count (urban = 39).
urban_city_outlier = urban_ride_count[urban_ride_count==39].index[0] ## index seems unnecessary
print(f"{urban_city_outlier} has the largest rider count.")

In [ ]:
### Now Box and Whisker for Ride Fare Data

## Urban
x_labels = ["Urban"]  # our labels variable
fig, ax = plt.subplots()  # object oriented method for plot
ax.boxplot(urban_fares, labels=x_labels)  # call urban_fares as y data
# Add the title, y-axis label and grid.
ax.set_title('Ride Fare Data (2019)')   # title
ax.set_ylabel('Fare($USD)') # y label
ax.set_yticks(np.arange(0, 51, step=5.0))  # y ticks and steps
ax.grid()
plt.show()
print("Summary Statistics")
urban_fares.describe()

In [ ]:
### SkillDrill 5.4.4 Box and Whisper plots for suburban_fares and rural_fares

## first Suburban

x_labels = ["Suburban"]  # our labels variable
fig, ax = plt.subplots()  # object oriented method for plot
ax.boxplot(suburban_fares, labels=x_labels)  # call suburban_fares as y data
# Add the title, y-axis label and grid.
ax.set_title('Ride Fare Data (2019)')   # title
ax.set_ylabel('Fare($USD)') # y label
ax.set_yticks(np.arange(0, 51, step=5.0))  # y ticks and steps
ax.grid()
plt.show()
print("Summary Statistics")
suburban_fares.describe()

In [ ]:
## and now rural 

x_labels = ["Rural"]  # our labels variable
fig, ax = plt.subplots()  # object oriented method for plot
ax.boxplot(rural_fares, labels=x_labels)  # call suburban_fares as y data
# Add the title, y-axis label and grid.
ax.set_title('Ride Fare Data (2019)')   # title
ax.set_ylabel('Fare($USD)') # y label
ax.set_yticks(np.arange(0, 51, step=5.0))  # y ticks and steps
ax.grid()
plt.show()
print("Summary Statistics")
rural_fares.describe()

In [ ]:
### Skill Drill 5.4.4  Combine three Box and Whisper Charts for Ride Fare Data

x_labels = ["Urban", "Suburban","Rural"]  #always labels first as variable to be later used in the boxplot
ride_fare_data = [urban_fares, suburban_fares, rural_fares] # create series
fig, ax = plt.subplots(figsize=(10, 6))  # declare ax method with a nice rectangular size\shape
ax.set_title('Ride Fare Data (2019)',fontsize=20) # set title wiht font size
ax.set_ylabel('Fares ($USD)',fontsize=14) # set y label with fontsize
ax.set_xlabel("City Types",fontsize=14) # set x label with fontsize
ax.boxplot(ride_fare_data, labels=x_labels)  ## specify a boxplot with labels. Use ride_fare_data
ax.set_yticks(np.arange(0, 45, step=3.0))  # set y ticks using NumPy arange()
ax.grid() # grid please 

# Save the plot
plt.savefig("analysis/Fig3.png")
plt.show()  # will it work?

In [ ]:
### Now some plots on driver count data. Using urban_drivers series genearated earlier

## First Urban
x_labels = ["Urban"]  # x labels variable
fig, ax = plt.subplots() # object oriented method
ax.boxplot(urban_drivers,labels=x_labels) # call boxplot using urban_drivers series.
# Add the title, y-axis label and grid.
ax.set_title('Driver Count Data (2019)')  # title
ax.set_ylabel('Number of Drivers)') # Y label
ax.set_yticks(np.arange(0, 90, step=5.0)) # y ticks and steps
ax.grid() # grid please
plt.show()
print("Summary Statistics")
urban_drivers.describe()  # summary stats always good to disply with Box and Whisper

In [ ]:
### Skill Drill 5.4.4 Box and Whisper plots for Driver Count Data for Subsuburban and Rural

## First Suburban
x_labels = ["Suburban"]  # x labels variable
fig, ax = plt.subplots() # object oriented method
ax.boxplot(suburban_drivers,labels=x_labels) # call boxplot using suburban_drivers series.
# Add the title, y-axis label and grid.
ax.set_title('Driver Count Data (2019)')  # title
ax.set_ylabel('Number of Drivers)') # Y label
ax.set_yticks(np.arange(0, 90, step=5.0)) # y ticks and steps
ax.grid() # grid please
plt.show()
print("Summary Statistics")
suburban_drivers.describe()  # summary stats always good to disply with Box and Whisper

In [ ]:
## Now Rural Driver Count Box and Whisper

x_labels = ["Rural"]  # x labels variable
fig, ax = plt.subplots() # object oriented method
ax.boxplot(rural_drivers,labels=x_labels) # call boxplot using rural_drivers series.
# Add the title, y-axis label and grid.
ax.set_title('Driver Count Data (2019)')  # title
ax.set_ylabel('Number of Drivers)') # Y label
ax.set_yticks(np.arange(0, 90, step=5.0)) # y ticks and steps
ax.grid() # grid please
plt.show()
print("Summary Statistics")
rural_drivers.describe()  # summary stats always good to disply with Box and Whisper

In [ ]:
### Skill Drill. Create combined box and whispers for Driver Count data.


x_labels = ["Urban", "Suburban","Rural"]  # label variable 
driver_count_data = [urban_drivers, suburban_drivers, rural_drivers] # create series of three driver series.
fig, ax = plt.subplots(figsize=(10, 6))  # declare ax method with a nice rectangular size\shape
ax.set_title('Driver Count Data (2019)',fontsize=20) # set title with font size
ax.set_ylabel('Number of Drivers',fontsize=14) # set y label with fontsize
ax.set_xlabel("City Types",fontsize=14) # set x label with fontsize
ax.boxplot(driver_count_data, labels=x_labels)  ## specify a boxplot with labels. Use driver_count_data
ax.set_yticks(np.arange(0, 76, step=5.0))  # set y ticks using NumPy arange()
ax.grid() # grid please 

# Save the plot
plt.savefig("analysis/Fig4.png")
plt.show()

In [ ]:
## commit our work. good work. getting familiar with Python and plotting for sure.

In [ ]:
#### Pie Chart Percentage of Fares for Each City Type
    ## Total Fares for each city type
## Total for all Fares for all city types
## Calc Percentage of the toal fares for each city type

In [ ]:
## Total Fares for each city type
# Urban Cities: gen a Series from pyber DF, group by type. stat is sum of fare
sum_fares_by_type = pyber_data_df.groupby(["type"]).sum()["fare"]
sum_fares_by_type

In [ ]:
## Sum of all Fares
total_fares=pyber_data_df["fare"].sum()
total_fares

In [ ]:
## Calc %
type_percents = 100 * sum_fares_by_type  / total_fares 
type_percents

In [ ]:
## do it all at once in one line by joining commands
type_percents = 100 * pyber_data_df.groupby(["type"]).sum()["fare"] / pyber_data_df["fare"].sum()
type_percents

In [ ]:
### Now we pie up the Percentage Fares by City Type

## Load matplotlib so we can use rcParams() to control font sizes
#      rcParams() accesses the run and configure settings for matplolib
import matplotlib as mpl  # call the matplotlib library

## Set the chart size
plt.subplots(figsize=(10,6))

## Build chart
plt.pie(type_percents, labels=["Rural", "Suburban", "Urban"]  # sets type_percents as Y. labels legend
       , colors=["gold","lightskyblue","lightcoral"]
       , explode=[0,0,0.1] #explodes third wedge by ten percent
       , autopct= "%1.1f%%" # format as percentage 
       , shadow=True # shadow the wedges.
       , startangle = 150 # sets top point
       )
plt.title("% of Total Fares by City Type")

mpl.rcParams['font.size']=14 ## use rcParams() to change default font size

plt.savefig("analysis/Fig5") # save chart to drive

plt.show()

In [ ]:
####  Pie Chart: Percentage of Total Rides by City Type
   
 # Total number of rides for each city type
 # Total for all city types
 # Percentage of total rides for each city type.

pyber_data_df # quick data preview.

In [ ]:
##  Total number of rides for each city type
sum_rides_by_type = pyber_data_df.groupby(["type"]).count()["ride_id"]
sum_rides_by_type

In [ ]:
## Sum of all rides
total_rides=pyber_data_df["ride_id"].count()
total_rides

In [ ]:
## Calc %
ride_percents = 100 * pyber_data_df.groupby(["type"]).count()["ride_id"] / pyber_data_df["ride_id"].count()
ride_percents

In [ ]:
## Build pie  chart for Percentage of Total Rides by City Type

## no need to reimport the matpotlib

## Set the chart size
plt.subplots(figsize=(10,6))

## Build the pie
plt.pie(ride_percents, labels=["Rural", "Suburban", "Urban"]  # sets ride_percents as Y. labels legend
       , colors=["gold","lightskyblue","lightcoral"]
       , explode=[0,0,0.1] #explodes third wedge by ten percent
       , autopct= "%1.1f%%" # format as percentage 
       , shadow=True # shadow the wedges.
       , startangle = 150 # sets top point
       )
plt.title("Percentage of Total Rides by City Type")

mpl.rcParams['font.size']=14 ## use rcParams() to change default font size

plt.savefig("analysis/Fig6") # save chart to drive

plt.show()

In [ ]:
####  Pie Chart: Percentage of Total Drivers by City Type
   
 # Total number of drivers for each city type
 # Total for all drivers for all
 # Percentage of total drivers for each city type.

pyber_data_df # quick data preview.

In [ ]:
# Total number of drivers for each city type
sum_drivers_by_type = pyber_data_df.groupby(["type"]).sum()["driver_count"]
sum_drivers_by_type

In [ ]:
## Sum of all drivers
total_drivers=pyber_data_df["driver_count"].sum()
total_drivers

In [ ]:
# Percentage of total drivers for each city type
driver_percents = 100 * pyber_data_df.groupby(["type"]).sum()["driver_count"] / pyber_data_df["driver_count"].sum()
driver_percents

In [ ]:
## Build pie chart for Percentage of Drivers by City Type

## no need to reimport the matpotlib

## Set the chart size
plt.subplots(figsize=(10,6))

## Build the pie
plt.pie(driver_percents, labels=["Rural", "Suburban", "Urban"]  # sets driver_percents as Y. labels legend
       , colors=["gold","lightskyblue","lightcoral"]
       , explode=[0,0,0.1] #explodes third wedge by ten percent
       , autopct= "%1.1f%%" # format as percentage 
       , shadow=True # shadow the wedges.
       , startangle = 150 # sets top point
       )
plt.title("Percentage of Total Drivers by City Type")

mpl.rcParams['font.size']=14 ## use rcParams() to change default font size

plt.savefig("analysis/Fig7") # save chart to drive

plt.show()

In [ ]:
## final commit for this Module.  that was fun.